<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
</head>

<body style="font-family: Arial">
    <h3><%= skill.skill %></h3>
    <ul>
        <li>Proficiency /10: <%= skill.proficiency%></li>
        <li>Comfort /10: <%= skill.comfort%></li>
        <li>Confidence /10: <%= skill.confidence%></li>
    </ul>

    <form action="/skills/<%= skill.skill %>?_method=DELETE"
        class="delete-form" method="POST">
        <button type="submit">Delete Skill</button>
    </form>

</body>
</html>